<!--
    We want to use the platform template here with a absolute template path, breaks as 'template not found' (see PlatformAdmin2IT test case)
-->
<html layout:decorator="/templates/platform/layout">
<head lang="en">

    <title>Administrator Accounts</title>

</head>
<body>
<div layout:fragment="platform-content">
    <h1>Administrator Accounts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button class="btn btn-default"
            data-toggle="modal"
            data-target="#edit-modal"
            data-title="Create new administrator">Add new administrator account
    </button>
</div>

</body>
</html>